# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE settings
.vscode/

# Ignore OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
*.ini

# Add any other patterns you want to ignore