grpcio
aiofiles
aiogram==2.*
aiohttp
aiosmtpd
configparser
#console
console-menu
future_fstrings
html2text
keyboard
packaging
psutil
pyinstaller
pysqlite3
python_telegram_logger
python-dateutil
shutup
terminaltables
numpy
opencv-python==4.5.5.64
opencv-contrib-python
python-ffmpeg
deepstack_sdk